header{
	padding:5px;
	background:#72797bc4;
	text-align:center;
}
nav{
	padding:5px;
	background:#ced4df;
    text-align: center;
}
nav li{
	background:#2E8CFF;
	border: 3px solid #ced4df;
	padding: 4px;
    border-radius: 8px;
}
nav ul{
	list-style-type:none;
    padding: 2px;
}
nav a{
	text-decoration:none;
	color:whitesmoke;
}
main{
	padding:5px;
	background:#72797bc4;
}
body{
	background:#17467f;
    color: whitesmoke;
}
footer{
	padding:5px;
	background:#2282f6;
	text-align:center;
    color: whitesmoke;
}
#gallery{
	text-align: center;
	grid-template-columns:repeat(auto-fill,210px);
	display:grid;
	grid-template-rows:400px;
	grid-gap:2em;
}
.galleryimage{
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.authorcol{
	flex:1;
	text-align: center;
}
.authordata{
	text-align: center;
}
.authorlinks{
	list-style-type: none;
	align-content: center;
	padding-right: 40px;
}
.authordata li{
	display: inline;
	background:#2E8CFF;
	padding: 4px;
    border-radius: 8px;
}
.authorlinks a{
	text-decoration:none;
	color:whitesmoke;
}
/*larger Resolutions*/
@media(min-width:750px){
#content{
	width:80%;
	margin:auto;
}
header{
	padding:5px;
	background:#72797bc4;
	text-align:center;
}
nav{
	padding:5px;
	text-align:center;
}
nav ul{
	list-style-type:none;
}
nav li{
	display:inline;
}
nav a{
	padding:2px;
}
main{
	padding:5px;
	background:#72797bc4;
}
h2{
    text-align: center;
}

.col-container{
	display:flex;
	padding:5px;
	column-gap:12px;
}
.col-main{
	flex:3;
}
.colsidebar{
	flex:1;
}
}